.block {
    width: 200px;
    height: 200px;

}
.red {
    background-color: red;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 10;
    opacity: 0.5;
    
    
}
.blue{
    background-color: blue;

    
    
}
.green{
    background-color: green;
    
}
.pink{
    background-color: pink;
    float: left;
    
}
.yellow{
    background-color: yellow;
    float: right;
}